JWT_SECRET_KEY=[YOUR JWT SECRET KEY]
CRYPTO_SECRET_KEY=[YOUR CRYPTO SECRET KEY] # 64 characters, 32 bytes


# Connect to Supabase via connection pooling with Supavisor.
# check https://www.prisma.io/docs/orm/overview/databases/supabase for more information
SUPABASE_URL="postgresql://[your database address]:[your database password]@aws-0-us-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_SUPABASE_URL="postgresql://[your database address]:[your database password]@aws-0-us-west-1.pooler.supabase.com:5432/postgres"